.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.canvas1{
    background: #010E16;
    position: absolute;
    top: 0px;
    left: 0px;
}
.canvas2{
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.mountain{
    position: absolute;
    bottom: 0px;
    width: 100%;
}